<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/dashboard.css">
</head>
<body>
    <div class="header">
        <div style="display: flex; justify-content: flex-end; align-items: center; width: 100%;">
            <text style="font-size: 20px; margin-right: 20px;">BIENVENIDO -------</text>
        </div>
    </div>
    <div class="content">
        <img class="image" src="/images/Fondo.png" alt="Imagen de electrodomésticos">
        <div class="reports">
            <button onclick="location.href='/reportes'">Visualizar reportes</button>
            <button onclick="location.href='rankings.html'">Visualizar rankings</button>
            <button onclick="location.href='estadisticas.html'">Visualizar estadísticas</button>
            <button onclick="location.href='perfiles.html'">Perfiles reportados</button>
        </div>
    </div>
</body>
</html>
