<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
        <meta charset="UTF-8">
        <title>Datos de Reportes</title>
    </head>
    <body>
    <header>
        <h1>REPORTES: </h1>
    </header>
<main>

    <%- reportesHTML %>


<form action=""></form>

<div class="reporte">
    <div class="half">
        <h1>Electrodomesticos rotos en sucursal</h1>
    <div class="informacion">
            <h2>Reporte: ID01</h2>
            <p>Fecha: 2024-04-02</p>
            <p>Estado: Resuelto</p>
        
            <div class="Sucursal">
                <p>Sucursal:Homedepot Revolucion</p>
            </div>
        </div>
    </div>
    <div class="half">
        
    </div>
</div>
    
</main>



    </body>
</html>

