body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: #fff;
}

h1 {
    font-size: 55px;
    font-weight: 700;
    color: #333;
    margin-bottom: 1rem;
}

.flecha {
    margin-top: 30px;
    margin-left: 10px;
    padding: 5px;
    width: 50px;
    height: 30px;
    background-color: transparent;
}

.flecha img {
    width: 100%;
    height: auto;
}